/* Theming */
:root {
  --primary-color: #8CBE9D;
  --primary-color-hover: #699f7b;
  --secondary-color: #B68DAB;
  --secondary-color-hover: #976b8b;
  --background-color: #FFFFFF;
  --background-color-header: #EDEDED;
}

/* Default styling */
html {
    scroll-behavior: smooth;
}

section {
    padding-top: 140px;
    padding-bottom: 100px;
}

.btn {
    text-transform: uppercase;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/    
    font-family: "Bungee", sans-serif;
    font-weight: 700;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-secondary:hover {
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}

#header {
    background-color: var(--background-color-header);
}

.site-title {
    width: 75%;
    margin-right: 25%;
    padding-left: 2rem;
}

.title-text-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.social-buttons-container {
    position: absolute; 
    right: 0;
    width: 30%;
    padding-right: 30%;
    justify-content: space-evenly;
}

.btn-header {
    color: var(--secondary-color);
    background-color: var(--background-color-header);
    border-color: var(--secondary-color);
    border-style: dashed;
    border-radius: 5%;
    height: 70%;
    font-family: "Bungee Shade", "Bungee", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn-header:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.countdown-container {
    padding-left: 2rem;
}

.nav-link {
    font-size: 2vw;
    color: var(--secondary-color);
    font-weight: 1000;
}
.nav-link:hover {
    color: var(--secondary-color-hover);
}

.nav-tabs {
    justify-content: space-evenly;
}

.navbar-brand {
    word-wrap: normal;
    margin-right: 0px;
}

.img-circle {
    border: black solid 2px;
    box-shadow: 2px 2px 2px black;
}

.collage-background-1 {
    background-image: url(../img/previous/collage_1.webp);
    background-position: 50% 0%;
    background-size: auto 100%;
    background-repeat: repeat-x;
}

#social-buttons {
    display: flex;
    justify-content: space-evenly;
}

#social-buttons span a, #social-buttons span a img {
    height: 36px;
}

.hero-image {
    max-width: 100%;
    max-height: 40vh;
    border-radius: 15rem;
    opacity: 93%;
    background-color: var(--background-color);
}

.section-heading {
    font-family: "Bungee", sans-serif;
}

.section-subheading {
    font-family: sans-serif;
}

#location-map {
    min-height: 50vh;
    width: 100%;
}

.character-select-target {
    width: 13%;
    height: 15%;
}

.sponsor-logo {
    max-width: 30%;
}
.sponsor-logo a img {
    max-width: 100%;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    width: fit-content;
    justify-self: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

.carousel-caption h5 {
    color: black;
}

/* Fix to prevent carousel resizing when transitioning between panels */
.carousel-inner {
    max-height: 640px !important;
    max-width: 960px !important;
}

/* Hacky fix for the about section icon colors */
.fa {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 100%;
}
.fa-inverse{
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Styling for views larger than 992px (mainly desktops) */
@media (min-width: 992px) {
    /* Use consistent font size for screens this size and up to prevent navbar from expanding in height */
    .nav-link {
        font-size: 22px;
    }
}

/* Styling for views smaller than 768px (mainly mobile devices) */
@media(max-width:767.98px) {
    /* Ensure navbar doesn't cover the top of the tab content */
    section {
        padding-top: 120px;
    }

    /* Prevent keep nav items legible at lower screen widths */
    .nav-item {
        margin-left: -1px !important;
        margin-right: -1px !important;
    }
    .nav-link {
        font-size: 2.5vw;
    }

    /* Prevent social buttons from being too large at lower screen widths */
    .social-buttons-container {
        justify-content: flex-end;
        width: 35%;
        padding-right: 0px;
    }
    #social-buttons span a, #social-buttons span a img {
        height: 24px;
    }
    #social-buttons {
        display: block;
    }
    
    /* Use more of the horizontal space in the header at lower screen widths */
    .btn-header {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Styling for views smaller than 576px (mobile devices) */
@media(max-width:575.98px) {
    /* Ensure navbar doesn't cover the top of the tab content */
    section {
        padding-top: 140px;
    }
    
    /* Force the social media buttons onto the next row of the header container */
    .navbar-header {
        display: contents;
    }

    /* Prevent nav items from taking up too much horizontal space at lower screen widths */
    .nav-link {
        padding: 0.2rem 0.2rem;
        font-size: 3vw;
    }

    /* Prevent social buttons from being too large at lower screen widths */
    #social-buttons span a, #social-buttons span a img {
        height: 16px;
    }

    /* Free up a bit of extra horizontal space for the social buttons */
    #event-date-container {
        font-size: 3.5vw;
        margin-top: 5px;
    }

    /* Place social buttons in a grid at lower screen widths and adjust width accordingly */
    #social-buttons {
        justify-content: flex-start !important;
        flex-direction: column;
        display: grid;
        width: 5%;
        grid-template-columns: 20px 20px 20px;
    }
    .social-buttons-container {
        display: block;
        width: 20%;
        padding-right: 30px;
        padding-top: 10px;
    }
    .site-title {
        width: 95%;
        margin-right: 5%;
        padding-top: 10px;
    }

    /* Make sure splash message wraps correctly at lower screen widths */    
    .header-splash-message {
        display: inline-block;
        max-width: 80%;
    }

    /* Use more of the horizontal space in the header at lower screen widths */
    .site-title {
        padding-left: 5px;
        padding-right: 5px;
    }
    .countdown-container {
        padding-left: 5px;
    }
}