/* Theming */
:root {
  --primary-color: #8CBE9D;
  --primary-color-hover: #699f7b;
  --secondary-color: #B68DAB;
  --secondary-color-hover: #976b8b;
  --background-color: #FFFFFF;
  --background-color-header: #EDEDED;
}

/* Default styling */
html {
    scroll-behavior: smooth;
}

section {
    padding-top: 110px;
    padding-bottom: 100px;
}

.btn {
    text-transform: uppercase;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/    
    font-family: "Bungee", sans-serif;
    font-weight: 700;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-secondary:hover {
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
}

#header {
    background-color: var(--background-color-header);
}

.site-title {
    width: 75%;
    margin-right: 25%;
}

.title-text-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.social-buttons-container {
    position: absolute; 
    right: 0;
    width: 25%;
}

.btn-header {
    color: var(--secondary-color);
    background-color: var(--background-color-header);
    border-color: var(--background-color-header);
    border-radius: 5%;
    height: 70%;
    font-family: "Bungee Shade", "Bungee", sans-serif;
}
.btn-header:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.nav-link {
    font-size: 2vw;
}

.nav-tabs {
    justify-content: space-evenly;
}

.nav-item {
    color: var(--secondary-color);
    font-weight: 1000;
}
.nav-item:hover {
    color: var(--secondary-color-hover);
}

.navbar-brand {
    word-wrap: normal;
}

.img-circle {
    border: black solid 2px;
    box-shadow: 2px 2px 2px black;
}

.collage-background-1 {
    background-image: url(../img/previous/collage_1.webp);
    background-position: 50% 0%;
    background-size: auto 100%;
    background-repeat: repeat-x;
}

#social-buttons span a, #social-buttons span a img {
    height: 36px;
}

.hero-image {
    max-width: 100%;
    max-height: 40vh;
    border-radius: 15rem;
    opacity: 93%;
    background-color: var(--background-color);
}

.section-heading {
    font-family: "Bungee", sans-serif;
}

.section-subheading {
    font-family: sans-serif;
}

#location-map {
    min-height: 50vh;
    width: 100%;
}

.character-select-target {
    width: 13%;
    height: 15%;
}

.sponsor-logo {
    max-width: 30%;
}
.sponsor-logo a img {
    max-width: 100%;
}

/* Hacky fix for the about section icon colors */
.fa {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 100%;
}
.fa-inverse{
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Styling for views larger than 992px (mainlg desktops) */
@media (min-width: 992px) {
    /* Use consistent font size for screens this size and up to prevent navbar from expanding in height */
    .nav-link {
        font-size: 22px;
    }
}

/* Styling for views smaller than 768px (mainly mobile devices) */
@media(max-width:767.98px) {
    /* Ensure navbar doesn't cover the top of the tab content */
    section {
        padding-top: 120px;
    }

    /* Prevent keep nav items legible at lower screen widths */
    .nav-link {
        font-size: 2.5vw;
    }

    /* Prevent social buttons from being too large at lower screen widths */
    #social-buttons span a, #social-buttons span a img {
        height: 24px;
    }
}

/* Styling for views smaller than 576px (mobile devices) */
@media(max-width:575.98px) {
    /* Ensure navbar doesn't cover the top of the tab content */
    section {
        padding-top: 140px;
    }
    
    /* Force the social media buttons onto the next row of the header container */
    .navbar-header {
        display: contents;
    }

    /* Prevent nav items from taking up too much horizontal space at lower screen widths */
    .nav-link {
        padding: 0.5rem 0.5rem;
        font-size: 3vw;
    }

    /* Prevent social buttons from being too large at lower screen widths */
    #social-buttons span a, #social-buttons span a img {
        height: 16px;
    }

    /* Place social buttons against left side when screen gets smaller so it looks cleaner when they jump down to the second row */
    #social-buttons {
        justify-content: flex-start !important;
    }
}